
[functions]
external_node_modules = ["sharp"]
included_files = ["node_modules/sharp/**/*", "./github.pem"]

[build.environment]
NODE_VERSION = "20"

[[plugins]]
    package = "@netlify/plugin-nextjs"

# All redirect cases are handled by the redirect-from-old-portal edge function.
# Catch-all for hostname redirects (must be first to handle newhelp.vtex.com -> help.vtex.com)
[[edge_functions]]
  path = "/*"
  function = "redirect-from-old-portal"

[[edge_functions]]
  path = "/tutorial/*"
  function = "redirect-from-old-portal"

[[edge_functions]]
  path = "/:locale/tutorial/*"
  function = "redirect-from-old-portal"

[[edge_functions]]
  path = "/subcategory/*"
  function = "redirect-from-old-portal"

[[edge_functions]]
  path = "/:locale/subcategory/*"
  function = "redirect-from-old-portal"

[[edge_functions]]
  path = "/category/*"
  function = "redirect-from-old-portal"

[[edge_functions]]
  path = "/:locale/category/*"
  function = "redirect-from-old-portal"

[[edge_functions]]
  path = "/tracks/*"
  function = "redirect-from-old-portal"

[[edge_functions]]
  path = "/:locale/tracks/*"
  function = "redirect-from-old-portal"

[[edge_functions]]
  path = "/faq/*"
  function = "redirect-from-old-portal"

[[edge_functions]]
path = "/known-issues/*"
function = "redirect-from-old-portal"

[[edge_functions]]
  path = "/announcements/*"
  function = "redirect-from-old-portal"

[[edge_functions]]
  path = "/support"
  function = "redirect-from-old-portal"

# For announcements and faq, we need to match the --key as well if the path contains the locale. This is needed to prevent a redirect loop. This happens because the new portal path pattern also includes "/:locale/faq|announcements".
[[edge_functions]]
  path = "/:locale/faq/*--*"
  function = "redirect-from-old-portal"

[[edge_functions]]
  path = "/:locale/known-issues/*--*"
  function = "redirect-from-old-portal"

[[edge_functions]]
  path = "/:locale/announcements/*--*"
  function = "redirect-from-old-portal"

[[redirects]]
force = true
from = "/:locale/docs/tutorials/creating-multi-store-multi-domain"
status = 308
to = "/docs/tutorials/managing-a-multistore"

[[redirects]]
force = true
from = "/tracks/go-live-your-store--4Ns5FxIiksmjsdX2yOTduM/1iP90RcJvlrfQhnlxM54wo"
status = 308
to = "/docs/tracks/go-live-process"

[[redirects]]
force = true
from = "/tracks/go-live-your-store--4Ns5FxIiksmjsdX2yOTduM/7wFsbWgN4rnZsbjhv8IItX"
status = 308
to = "/docs/tracks/settings"

[[redirects]]
force = true
from = "/tracks/go-live-your-store--4Ns5FxIiksmjsdX2yOTduM/7sM5IMx02zaHvAFTm0OxiJ"
status = 308
to = "/docs/tracks/pre-go-live

[[redirects]]
force = true
from = "/tracks/go-live-your-store--4Ns5FxIiksmjsdX2yOTduM/12bQlMbJ68Ot0LIaO6Btkj"
status = 308
to = "/docs/tracks/go-live"

[[redirects]]
force = true
from = "/tracks/go-live-your-store--4Ns5FxIiksmjsdX2yOTduM/K8UQ6W7MhH1ovp91kJxBJ"
status = 308
to = "/docs/tracks/post-go-live"


