html,
body, *:not(i) {
  font-family: 'VTEX Trust Regular', -apple-system, system-ui,
    BlinkMacSystemFont, sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    text-rendering: optimizeLegibility;
}

body.modal-open {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}

a {
  color: #e31c58;
  text-decoration: none;
}

a:hover {
  color: #c81e51;
}

footer > div {
  margin-inline: 0 !important;
  max-width: 100% !important;
}

.searchComponent:focus {
  outline: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
}

pre {
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  max-width: 100%;
  overflow-x: auto;
  display: inline-block;
  margin: 16px 0;
  border-radius: 4px;
}

table thead {
  border: 1px solid #e7e9ef;
  font-weight: 500;
}

pre,
code,
pre *,
code * {
  font-family: Consolas,monaco,monospace !important;
}

table td,
table th {
  font-size: 0.875em;
  border: 1px solid #e7e9ef;
  padding: 0.5em;
  min-width: 60px;
}

table tbody tr:nth-of-type(even) {
  background-color: #f8f7fc;
}

